$purple: #5533ff;
$cyan: #05d5ff;
$green: #a6ffcb;
$blue-primary: #4553ff;
$blue-secondary: #4f40ff;
$blue-tertiary: #1fa2ff;
$turquoise: #25ddf5;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background: #fff;
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.space { display: none;}

h2 {
  color: #24b47e;
}


#stripes {
  background: linear-gradient(150deg, $purple 15%, $cyan 70%, $green 94%);
  transform: skewY(-12deg);
  transform-origin: 0;
  position: relative;
  
  span {
    position: absolute;

    &:nth-child(1){
      background: $purple;
    }
    &:nth-child(2){
      background: $blue-primary;
    }
    &:nth-child(3){
      background: $blue-secondary;
    }
    &:nth-child(4){
      background: $turquoise;
    }
    &:nth-child(5){
      background: $blue-tertiary;
    }
  }
}

.container-lg {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1040px;
}

.container-xl {
  display: flex;
  flex-wrap: wrap;
  margin: -15px auto;
  padding: 0 5px;
  max-width: 1160px;
  width: 100%;
}

@media (min-width: 320px) {
  #stripes {
    height: 570px;

    span {
      position: absolute;
      height: 40px;

      &:nth-child(1){
        background: $purple;
        
      }
      &:nth-child(2){
        background: #4c29ff;
        width: 50%;
        left: 50%;
        top: 40px;
      }
      &:nth-child(3){
        background: $green;
        width: 25%;
        bottom: 0;
        right: 0;
      }
      &:nth-child(4){
        background: $turquoise;
        width: 14%;
        right: 0;
        bottom: 40px;
      }
      &:nth-child(5){
        background: $blue-tertiary;
      }
    }
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 20px;
    
    & > #menu {
      height: 25px;
      color: white;
      margin-left: 120px;
    }
  }

  .navbar {
    display: none;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 70px;
    padding-bottom: 100px;
    display: block;
  }

  #intro {
    position: absolute;
    top: 0;

    & > .container {

      & > .announcement {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        background: rgba(0,0,140,.08);

        & > #pill {
          padding: 0 6px;
          font-size: 12px;
          line-height: 16px;
          font-weight: 600;
          background: #24b47e;
          text-transform: uppercase;
          border-radius: 10px;
        }

        & > #message {
          -webkit-box-flex: 1;
          flex: 1;
          margin: 0 12px;
        }
      }

      & > h1 {
        font-size: 32px;
        font-weight: 400;
        color: #fff;
      }

      & > .description {
        max-width: 500px;
        margin-top: 20px;
        color: #d9fcff;
        font-weight: 400;
        font-size: 17px;
        line-height: 28px;
      }

      & > ul {
        margin-top: 40px;
        list-style: none;
        display: list-item;
        text-align: -webkit-match-parent;
        padding: 0;
      }
    }
  }

  .button {
    white-space: nowrap;
    display: inline-flex;
    height: 40px;
    align-items: center;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: #3ECF8E;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all .15s ease;

    &:hover {
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    }

    & > svg {
      color: #0a7261;
      height: 21px;
      margin-right: 10px;
    }

    &:nth-child(2) {
      display: none;
    }
  }

  section {
    display: block;
  }

  #images{
    pointer-events: none;
    position: absolute;
    display: flex;
    top: 1357px;
    

    & > .phone-big {
      width: 50%;
      height: 50%;
    }

    & > .phone-small {
      display: none;
    }
    & > .tablet-portrait {
      display: none;
    }
  }

  .title {
    display: inline-flex;
    color: #24b47e;
    flex-direction: column;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: .025em;
    text-align: center;

    & > span {
      margin-top: 30px;
    }

    &:nth-child(2) {
      margin-top: 0;
    }
  }

  .linked-arrow {
    padding-top: 35px;
    color: #6772e5;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    transition: color .1s ease;
    cursor: pointer;
    display: flex;
    align-items: center;

    & > svg {
      height: 14px;
      margin-left: 10px;
    }
  }

  .body-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #525f7f;
  }

  #primary {
    overflow: hidden;
  }

  #dev-first {
    position: relative;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 180%;
      top: 0;
      transform: skewY(-12deg);
      background: #f6f9fc;
    }

    & > .body-text {
      padding: 0 20px;
    }
  }

  #title-head {
    margin-top: -30px;
  }

  #notebook > nav > select {
    width: 100%;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-size: 17px;
    color: #24b47e;
    border-radius: 2px;
    padding: 7px 12px;
    border: none;
    outline: none;
    background: #fff url(/web/20200601062509im_/https://stripe.com/img/v3/home/code-snippets/select-arrows.svg) no-repeat 97% 50%;
    background-size: 9px 14px;
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
    -webkit-tap-highlight-color: transparent;
  }

  #notebook > nav > ul { display: none;}

  #code {
    width: 755px;
    height: 271px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #improving, #global-scale {
    border-width: 0 0 1px;
    padding: 20px 0;
    border: 1px solid #f6f9fc;

    & > h2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 17px;
      text-transform: uppercase;
      line-height: 28px;
      font-weight: 600;
      letter-spacing: .025em;
      margin-bottom: 0;
    }

    & > .body-text {
      margin-top: 0;
    }

    & > .linked-arrow {
      padding: 0px;
      margin: 0;
    }
  }

  #logos {
    border-top: 2px solid #f6f9fc;

    & > ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      list-style: none;

      & > li {
        margin: 10px;
      }
    }
  }

  footer{
    display: block;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    -webkit-font-smoothing: antialiased;
    position: relative;
    background: transparent;
    overflow: hidden;
    padding-top: 500px;
    margin-top: -480px;
    pointer-events: none;

    &::before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 600px;
      height: 6000px;
      background: #f6f9fc;
      transform: skew(0,-12deg);
    }
  }

  .card {
    color: #B76AC4;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 15px;
    align-items: center;
    z-index: calc(500 - 1);
    display: flex;
    position: relative;
    padding: 40px 0;
    transition: transform .3s ease-out;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
    transition-duration: .15s;

    h2 {
      color: #B76AC4;
      font-size: 17px;
      line-height: 28px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .025em;
      white-space: normal;

      &::after{
        content: "\279C";
        padding-left: 5px;
        font: normal 16px StripeIcons;
      }
    }

    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 28px;
      color: #525f7f;
      margin: 5px 0 0;
    }
    
    & > #card-body {
      width: 60%;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .contact-section {
    padding: 50px 0;
    position: relative;
    z-index: calc(500 - 1);
    border-bottom: 2px solid rgba(207,215,223,.25);
  }

  .content {
    -webkit-box-flex: 1;
    flex: 1 0 50%;

    h1 {
      padding: 0;
      text-align: left;
      font-weight: 400;
      font-size: 30px;
      line-height: 45px;
      color: #32325d;
      margin: .75em 0;
    }

    .title {
      font-size: 30px;
      line-height: 45px;
    }

    .subtitle {
      font-weight: 300;
      color: #6772e5;
      display: block;
    }


  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    -webkit-box-flex: 1;
    flex: 1 0 50%;

    .button {
      background: #6772E5;
    }

    & > .button:nth-child(2) { 
      display: block;
      background: white;
      color: #6772E5;
      margin-top: 10px;
    }
  }

  .footer-nav {
    background: #f6f9fc;
    position: relative;
    padding: 65px 0 55px;
    color: #8898aa;
    line-height: 30px;
    font-size: 15px;
    white-space: nowrap;
  }

  .meta-nav {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 2;
    flex-grow: 2;
    flex-basis: 100%;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;

    & > li {
      position: relative;
      z-index: calc(500 - 1);
      list-style: none;
      margin-right: 0;
      color: #aab7c4;

      & > p {
        color: #6772e5;
        font-weight: 600;
        cursor: pointer;

        & > span {
          margin-left: 10px;
        }
      }
    }
  }

  .site-nav {
    display: flex;
    flex-flow: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;

    .column {
      flex-basis: 50%;
      margin-bottom: 20px;

      ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li {
            margin-right: 40px;
            display: list-item;
            cursor: pointer;
            text-align: -webkit-match-parent;
          }
      }

      & > .split {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    position: absolute;
    top: 19px;

    &-section {
      display: flex;
      
      p {
        color: white;
        margin: 0;
        font-size: 1em;
        line-height: 1.2rem;
        font-weight: 400;

        &:nth-child(2) {
          margin-left: 52px;
          margin-right: 52px;
        }
        
      }
    }
  }

  #sign-in{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 52px;
    width: 65px;

    p {
      white-space: nowrap;
    }

    ::after{
        content: "\279C";
        padding-left: 5px;
        font: normal 16px StripeIcons;
      }
  }
  #stripes {
    height: 600px;

    span {
    position: absolute;
    height: 150px;
    
    &:nth-child(1){
      background: $purple;
      
    }
    &:nth-child(2){
      background: $blue-primary;
      width: 50%;
      left: 50%;
      top: 0;
    }

    &:nth-child(3){
      background: $blue-secondary;
      width: calc(100% / 3);
      left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
      bottom: auto;
    }
    &:nth-child(4){
      background: $turquoise;
      width: calc(100% / 6);
      top: 300px;
      bottom: auto;
      background: #0dcfff;
    }
    &:nth-child(5){
      background: $blue-tertiary;
      width: calc(100% / 3);
      right: auto;
      bottom: 0px;
      background: #11bdff;
    }
  }
  }

  .announcement {
    line-height: 26px;
    margin: 0 0 55px;
    padding: 0 12px 0 5px;
    border-radius: 15px;
  }

  .description{
    width: 60%;
  }

  #intro {

    & > .container {
      & > ul {
        margin-top: 65px;
        display: flex;
      }
    }
    .button:nth-child(2) {
      display: block;
      width: fit-content;
      background: white;
      color: #6772E5;
      margin-left: 10px;
    }
  }

  #images {
    flex-wrap: wrap;
    width: 512px;
    margin-left: -50px;
    top: 115px;
    right: 0;

    & > .tablet-landscape {
      top: 700px;
      right: 0;
      width: 350px;
      height: 352px;
      margin: 0;
      position: absolute;
    }

    & > .phone-big {
      position: absolute;
      width: fit-content;
      height: 367px;
      right: 0;
      top: 0;
    }
  }
  .title {
    margin: 0 25%;
    font-size: 21px;
    line-height: 32px;
  }

  #toolkit {
    .body-text {
    width: 50%;
    text-align: right;
    }
  }
  
  .linked-arrow {
    margin-top: 35px;
    border-top: 2px solid #f1f7fb;
        margin-bottom: 80px;
    margin-left: 75px;

    &:hover {
      color: black;
    }
  }

  #dev-first {
    .body-text {
      max-width: 730px;
      margin-bottom: 50px;
      text-align: center;
    }
  }

  .inactive-button {
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 16px;
            padding-left: 16px;
            text-align: left;
            font-family: Camphor,Open Sans,Segoe UI,sans-serif;
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            transition: color .3s;
            color: #6772e5;
            font-weight: 500;
            font-size: 17px;
            line-height: 28px;

            & > svg {
              height: 20px;
              margin-right: 15px;
            }

            & > p {
              margin: 0;
            }

            &:hover {
              color: black;
            }
          }

          #dev-first {
            padding-top: 0;
          }

          .active-button {
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 16px;
            padding-left: 16px;
            text-align: left;
            font-family: Camphor,Open Sans,Segoe UI,sans-serif;
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            transition: color .3s;
            color: #1bb978;
            font-weight: 500;
            font-size: 17px;
            line-height: 28px;

            & > svg {
              height: 20px;
              margin-right: 15px;
            }

            & > p {
              margin: 0;
            }

            &:hover {
              color: black;
            }
          }

  #notebook {
    display: flex;
    flex-flow: row-reverse;
    & > nav {
      padding-top: 35px;
      & > select {
        display: none;
      }

      .linked-arrow {
        display: block;
        margin: 0;
        margin-left: 15px;
        padding: 0;

        &::after {
          content: "\279C";
          padding-left: 5px;
          font: normal 16px StripeIcons;
        }
      }

      & > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        & > li {
          text-align: -webkit-match-parent;
          height: 34px;
          margin-bottom: 3px;
        }
      }
    }
  }

  .cols {
    display: flex;
  }

  #logos {
    
    & > ul {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  .footer-cards > .container-xl {
    display: flex;
    flex-wrap: nowrap;
  }

  .contact-section > .container-lg {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    & > .content > .title {
      margin-right: 30px;
    }
  }

  .buttons {
    & > .button:nth-child(2) {
      margin: 0;
      margin-left:10px;
    }
  }

  .meta-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #location {
    margin-right: 30px;
  }

  .space {
    flex-grow: 2;
    display: flex;
  }

  .site-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 880px) {
  #stripes {
    height: 860px;

    span {
      height: 190px;
      width: 33.3333%;

      &:nth-child(1){
        width: 33.33333%;
        left: -16.66666%;
      }
      &:nth-child(2){
        width: calc(100% / 3);
        top: 0;
        left: calc(calc(100% / 3) / 2);
        right: auto;
      }
      &:nth-child(3){
        width: calc(100% / 3);
        left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
        bottom: auto;
      }
      &:nth-child(4){
        width: 200px;
        top: 480px;
        right: 0;
      }
      &:nth-child(5){
        bottom: 0px;
      }
    }
  }
  
  #intro {
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 0;
  }

  #images {
    .tablet-landscape {
      width: max-content;
      top: 110px;
      height: max-content;
    }

    .phone-big {
      display: none;
    }

    .tablet-portrait {
      display: block;
      right: 0;
      position: inherit;
      top: 450px;
    }
  }

  #toolkit {
    position: relative;
    bottom: 30px;
    height: 580px;
    & > h2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      width: 50%;
      margin: 0 0 0 33px;
      text-align: right;

      & > span {
        margin: 0;
        margin-right: 10px;
      }
    }

    .linked-arrow {
      padding-left: 150px;
      width: fit-content;
    }
  }

  #dev-first {
    .body-text {
      padding: 0 20px;
      margin: 30px auto;
    }
  }

  #logos {
    padding: 70px 0px;
    ul {
      justify-content: space-around;
    }

    :hover {
      filter: blur(3px);
    }
  }

  .contact-section {
    padding: 50px 0;

    .content > h1 {
      width: 100%;
    }
    .buttons {
      margin: 0;
      padding: 0;
      justify-content: flex-end;
      button {
        padding: 0 14px;
      }
    }
  }

  .footer-nav > .container-lg {
    display: flex;

    & > .meta-nav {
      flex-direction: column;
      margin: 0 0 20px;
      flex-basis: auto;
      align-items: flex-start;
      li {
        width: max-content;
      }
    }
  }
}
@media (min-width: 1280px) {

  #intro > .container {
    margin-left:243px;
    margin-right:243px;
    padding-left:20px;
    padding-right:20px;

    & > h1 {
      font-size: 40px;
    }

    & > .body-text {
      width: 50%;
    }
  }
  #images {
    .phone-small {
      display: block;
      position: inherit;
      width: max-content;
      top: 800px;
      right: 300px;
    }

    .phone-big {
      display: block;
    }

    .tablet-portrait {
      top: 600px;
    }

    .tablet-landscape {
      right: 125px;
    }
  }

  #toolkit {
    position: relative;
    bottom: 30px;
    height: 580px;


    & > h2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      width: 500px;
      text-align: right;

      & > span {
        margin: 0;
        margin-right: 10px;
      }
    }

    & > .body-text {
      width: 30%;
    }

    .linked-arrow {
      padding: 0;
      padding-left: 180px;
      width: fit-content;
    }
  }

  #toolkit.container {
    margin: 0 20%;
  }

  #logos{
    padding:70px 150px;
    z-index: 499;
    position: relative;
  }

  .card:hover {
    transform: translate(0, -5px);
    cursor: pointer !important;
    span > img { filter: grayscale(1); }
    p { color: black}
    h2{ color: black}
  }
}